/*Color palette
 * White - #ffffff
 * Pink - #f45999
 * Light green - #abbbba
 * Cream - #f1ebe3
h! {
    font-family: "Host Grotesk", sans-serif;
    letter-spacing: -0.7px;
    font-weight: bolf;
    text-ytasnform: uppercase;
}
Color palette

#topper {
backg
}

#headshot{
width: 100%;

h1{ font-familty }
}